<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:p="http://www.springframework.org/schema/p" 
xsi:schemaLocation="http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd ">
                           
  <security:http auto-config="true">
  <security:csrf disabled="true"/>
  	<security:intercept-url pattern="/AddProduct" access="hasRole('ROLE_ADMIN')" />
  	<security:intercept-url pattern="/Productlist" access="hasRole('ROLE_ADMIN')" />
  	<security:intercept-url pattern="/additemtocart" access="hasRole('ROLE_USER')" />		
  		<security:form-login login-page="/Login" login-processing-url="/j_spring_security_check" default-target-url="/index"
   		authentication-failure-url="/Login" username-parameter="j_username" password-parameter="j_password"/>
  		<security:logout logout-success-url="/logout" logout-url="/j_spring_security_logout" />
 </security:http>
 

    <security:authentication-manager>
   <security:authentication-provider>
   
     <security:jdbc-user-service data-source-ref="dataSource"  
      users-by-username-query="select email, password,enabled from UserRegistration where email=?" 
          authorities-by-username-query="select email, role from UserRegistration where email= ?" />
   </security:authentication-provider>
 </security:authentication-manager>

</beans>